#button-categories{
    margin-left: 8vh;
    background-color: lightgrey;
    border-color: lightgrey;
}

#button-categories-first{
    background-color: lightgrey;
    border-color: lightgrey;
}

.upper-navbar{
    margin-top: 1vh;
}